$font-stack: sans-serif
$primary-color: black
$background-color: lightblue


body
    font: 100% $font-stack
    color: $primary-color
    background-color: $background-color

    border: solid 2px red


p
    color: blue
    border: solid 2px red

main
    
    background-image: url(leaves.webP) 
    background-size: 100%
    padding-bottom: 50%;
    border: solid 2px red


