$font-stack: sans-serif
$primary-color: black
$background-color: rgb(25,92,110)


body
    font: 100% $font-stack
    color: $primary-color
 
p
    color: white   
    text-align: center

main
    background-image: url(leaves.webP) 
    background-size: 100%
    padding-bottom: 33%;
    
    font-size: 155px
    
main p
        color: brown

header
    background-color: $background-color
    padding: 1%;
    text-align: right;
    font-size: 150%;
    margin: 0;

footer
    background-color: $background-color
    padding: 1%;
    text-align: right;
    font-size: 150%;
    margin: 0;